a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
    background-color: #343A40;
}
.form-right i {
    font-size: 100px;
}
h4{
    color: white;
}
.image{
    background-color: #343A40 !important;
}